{% extends "base.html" %}


{% block content %}

 <div class="blog-masthead">
	      <div class="container">
	        <!-- Fixed navbar -->
	        <nav class="navbar navbar-default navbar-fixed-top">
	          <div class="container">
	            <div class="navbar-header">
	              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	              </button>
	              <a class="navbar-brand" href="/">the<strong>blog</strong></a>
	            </div>
	            <div id="navbar" class="navbar-collapse collapse">
	              
	              <ul class="nav navbar-nav navbar-right">

	                <li><a href="/login">Sign In</a></li>
                
	              </ul>
	            </div><!--/.nav-collapse -->
	          </div>
	        </nav>
	      </div>
	    </div>








    <div class="container wrapper">


		<form method = "post">
			<b>Signup</b><br><br>

			<label> Full Name
				<input type="text" name="fullname" value="{{fullname}}">
			</label>
			<div style="color:red">{{error_name}}</div>

			<label> Username
				<input type="text" name="username" value="{{username}}">
			</label>
			<div style="color:red">{{error_user}}</div>
			

			<label> Password
				<input type="password" name="password"> 
			</label>
			<div style="color:red">{{error_pass}}</div>
			

			<label> Verify Password
				<input type="password" name="verify"> 
			</label>
			<div style="color:red">{{error_verify}}</div>
			

			<label> Email (Optional)
				<input type="text" name="email" value="{{email}}"> 
			</label>
			<div style="color:red">{{error_email}}</div>
			


			<br>
			<input type="submit" value="Submit" >
		</form>
</div>
{% endblock %}